body {
    background-color: lightblue;
    font-family: Arial;
    font-size: 18px;
    color: black;
    margin: 20px;
    padding: 10px;
}

h1 {
    color: darkblue;
    font-size: 35px;
    text-align: center;
    margin: 20px;
}

h2 {
    color: blue;
    font-size: 25px;
    margin: 20px;
    padding: 5px;
}

p {
    background-color: white;
    border: 1px solid blue;
    padding: 10px;
    margin: 15px;
}

a {
    color: darkblue;
    margin: 5px;
}
